@using IS4.Models
@model RegistrationViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Registration";
}
<form asp-controller="Account" asp-action="Registration" asp-antiforgery="true" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <section class="vh-100 ">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Registration</h2>

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="LogIn" class="form-control form-control-lg" />
                                    <label class="form-label">Login</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="email" asp-for="Email" class="form-control form-control-lg" />
                                    <label class="form-label">Email</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="PersonFullName" class="form-control form-control-lg" />
                                    <label class="form-label">Full name</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="UserName" class="form-control form-control-lg" />
                                    <label class="form-label">User name</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="NumberPhone" class="form-control form-control-lg" />
                                    <label class="form-label">Number of phone</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="Password" class="form-control form-control-lg" />
                                    <label class="form-label">Password</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input asp-for="ConfirmPassword" class="form-control form-control-lg" />
                                    <label class="form-label">Confirm password</label>
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Registration</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
